/* dependency simple tags */
.simple-tags {
  background-color: #fff;
  border: 0px solid #1941df;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-size: 14px;
}

.simple-tags > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.simple-tags ul li {
  margin: 0.5em 0.2em;
  padding: 0.5em;
  color: #fff;
  background-color: #1941df;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.simple-tags ul li a {
  margin: 0.5em 0.2em;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.simple-tags input {
  padding: 0.9em 0.5em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  border: none;
  outline: none;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}

#p-priced-c {
  margin-left: 16px;
}

.file-img img {
  border: 1px solid #f1f1f1;
}

.note-fontname {
  display: none !important;
}

.features.flex-column-reverse, .offer-pricef.flex-column-reverse {
  flex-direction: column !important;
}

/* single product */
.destt {
  min-width: 350px;
}

.faq input, .faq .form-check {
  width: 100%;
}

.faq i.remove {
  margin-left: 8px;
}

.list-wrapper ul.faq li {
  border: 0;
}

.p-img-cont {
  float: left;
  max-width: 120px;
  margin-right: 5px;
}

.p-img-cont p {
  cursor: pointer;
}

.p-img-cont p img {
  object-fit: cover;
}

.p-img-cont p img:hover {
  opacity: 0.9;
}

.p-img-cont p .remove {
  position: absolute;
  font-weight: bold;
  float: right;
  margin-left: -24px;
  line-height: 1;
  font-size: 24px;
  padding: 4px;
  color: #76838f;
}

.p-img-cont p .remove:hover {
  color: #910F3D;
}

.p-img-cont p .remove.hd {
  display: none;
}

.mw {
  max-width: 460px;
}

@media (max-width: 500px) {
  .btn-remove {
    display: none !important;
  }
}
/* single product price box */
.p-edit .offer-pricef {
  padding: 0;
  list-style-type: none;
  display: block;
}

.p-edit .offer-pricef li {
  list-style-type: none;
}

.add-mix-ctn {
  text-align: left;
  margin-top: 0.7rem;
  margin-bottom: 1.5rem;
}

.var-block {
  border-left: 2px solid #ccc;
  padding-left: 16px;
}

.var-block .edit-block {
  cursor: pointer;
}

.var-block .remove-block {
  cursor: pointer;
}

.var-block .remove-block:before {
  color: #ff0079 !important;
}

.var-block .add-mix {
  font-size: 0.875rem;
}

.var-block .card-description {
  font-size: 0.875rem;
}

.var-block .form-check {
  display: inline-block;
}

.var-block .form-check-input {
  margin-top: 1px;
}

.var-block .remove-option {
  display: inline-block;
  float: right;
  cursor: pointer;
}

/* single product right pane */
#p-status0:focus {
  border-color: #ffc107;
  box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, 0.3);
}

#p-status0:checked {
  background-color: #ffc107;
  border-color: #ffc107;
}

/*# sourceMappingURL=styles.css.map */
